
.centered-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



/* TUTTE LE GRANDEZZE SONO SPERIMENTALI */



/* background navbar + header */
#first-bg{
    background-color: rgba(14, 1, 255, 0.185);
    /* test */
}

/* navbar content */
nav #navbar-inner{
    border: 1px solid rgb(75, 255, 75);
    background-color: #00800080;
    /* test */

    height: 80px;

    display: flex;
    justify-content: space-between;
}

nav #navbar-inner #logo{
    border: 1px solid rgb(1, 70, 1);
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;
    width: 100px;
}

nav #navbar-inner #links{
    border: 1px solid rgb(1, 70, 1);
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;

    display: flex;
    align-items: stretch;
}

nav #navbar-inner #login{
    border: 1px solid rgb(1, 70, 1);
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;
    width: 100px;
}

/* navbar links  */
nav #navbar-inner #links ul{
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

nav #navbar-inner #links li{
    background-color: rgb(1, 49, 1);
    /* test */

    width: 60px;
    height: 30px;

}

/* header content  */
header #header-inner{
    border: 1px solid rgb(255, 75, 75);
    background-color: #80000080;
    /* test */

    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

header #header-inner #title{
    background-color: rgba(197, 18, 18, 0.7);
    border: 1px solid black;
    /* test */

    width: 500px;
    height: 100px;

}

header #header-inner #title-text{
    background-color: rgba(197, 18, 18, 0.7);
    border: 1px solid black;

    /* test */

    width: 500px;
    height: 100px;
}

/* header buttons */
header #header-inner #title-buttons{
    background-color: rgba(197, 18, 18, 0.7);
    border: 1px solid black;

    /* test */

    width: 500px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header #header-inner .mac-download{
    background-color: rgb(49, 1, 1);
    /* test */

    height: 30px;
    width: 100px;

}

header #header-inner .browser-open{
    background-color: rgb(49, 1, 1);
    /* test */

    height: 30px;
    width: 150px;
}

