.centered-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}



/* TUTTE LE GRANDEZZE SONO SPERIMENTALI */



/* background navbar + header */
#first-bg{
    background-color: rgba(14, 1, 255, 0.185);
    /* test */
}

/* navbar content */
nav #navbar-inner{
    background-color: #00800080;
    /* test */

    height: 80px;

    display: flex;
    justify-content: space-between;
}

nav #navbar-inner #nav-logo{
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;
    width: 100px;
}

nav #navbar-inner #links{
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;

    display: flex;
    align-items: stretch;
}

nav #navbar-inner #login{
    background-color: rgba(18, 197, 18, 0.7);
    /* test */

    height: 100%;
    width: 100px;
}

/* navbar links  */
nav #navbar-inner #links ul{
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

nav #navbar-inner #links li{
    background-color: rgb(1, 49, 1);
    /* test */

    width: 60px;
    height: 30px;

}

/* header content  */
header #header-inner{
    background-color: #80000080;
    /* test */

    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

header #header-inner #title{
    background-color: rgba(197, 18, 18, 0.7);
    /* test */

    width: 500px;
    height: 100px;

}

header #header-inner #title-text{
    background-color: rgba(197, 18, 18, 0.7);

    /* test */

    width: 500px;
    height: 100px;
}

/* header buttons */
header #header-inner #title-buttons{
    background-color: rgba(197, 18, 18, 0.7);

    /* test */

    width: 500px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header #header-inner .mac-download{
    background-color: rgb(49, 1, 1);
    /* test */

    height: 30px;
    width: 100px;

}

header #header-inner .browser-open{
    background-color: rgb(49, 1, 1);
    /* test */

    height: 30px;
    width: 150px;
}

/* main first section */
main #first-section{
    background-color: #033903a2;
    /* test */

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* first section left half */
main #first-section #sect1-left{
    background-color: #03fc0369;
    /* test */
    width: 400px;
    height: 400px;

    flex-grow: 1;

}

/* first section right half */
main #first-section #sect1-right{
    background-color: #03fc0369;
    /* test */
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

main #first-section #sect1-right #sect1-title{
    background-color: #00800080;
    /* test */

    width: 200px;
    height: 200px;

}

main #first-section #sect1-right #sect1-text{
    background-color: #00800080;
    /* test */
    
    width: 200px;
    height: 100px;
}


/* main second section */
main #second-section {
    background-color: #090339a2;
    /* test */

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

/* second section left half */
main #second-section #sect2-left{
    background-color: #030ffc69;
    /* test */
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}
/* second section right half */
main #second-section #sect2-right{
    background-color: #030ffc69;
    /* test */
    width: 400px;
    height: 400px;

    flex-grow: 1;

}

/* second section left half content  */
main #second-section #sect2-left #sect2-title{
    background-color: #04008080;
    /* test */

    width: 200px;
    height: 200px;

}

main #second-section #sect2-left #sect2-text{
    background-color: #04008080;
    /* test */
    
    width: 200px;
    height: 100px;
    
}

/* main third section */
main #third-section{
    background-color: #390303a2;
    /* test */

    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* third section left half */
main #third-section #sect3-left{
    background-color: #fc030369;
    /* test */
    width: 400px;
    height: 400px;

    flex-grow: 1;

}

/* third section right half */
main #third-section #sect3-right{
    background-color: #fc030769;
    /* test */
    width: 400px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

main #third-section #sect3-right #sect3-title{
    background-color: #80000080;
    /* test */

    width: 200px;
    height: 200px;

}

main #third-section #sect3-right #sect3-text{
    background-color: #80000080;
    /* test */
    
    width: 200px;
    height: 100px;
}

main #fourth-section{
    background-color: #033903a2;
    /* test */

    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main #fourth-section #sect4-top{
    background-color: #03fc0369;
    /* test */

    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main #fourth-section #sect4-mid{
    background-color: #03fc0369;
    /* test */

    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main #fourth-section #sect4-bot{
    background-color: #03fc0369;
    /* test */

    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap:10px;
}

/* main fourth section top  */

main #fourth-section #sect4-top #sect4-title{
    background-color: #00800080;
    /* test */

    height: 50px;
    width: 800px;
}

main #fourth-section #sect4-top #sect4-text{
    background-color: #00800080;
    /* test */

    height: 50px;
    width: 800px;

}

/* main fourth section mid  */

main #fourth-section #sect4-mid #sect4-pic{
    background-color: #00800080;
    /* test */

    height: 300px;
    width: 800px;
}

/* main fourth section bot  */

main #fourth-section #sect4-bot #sect4-subtitle{
    background-color: #00800080;
    /* test */

    height: 50px;
    width: 500px;
}

main #fourth-section #sect4-bot #sect4-button-container{
    background-color: #00800080;
    /* test */

    height: 50px;
    width: 500px;

    display: flex;
    justify-content: center;
}

main #fourth-section #sect4-bot #sect4-button{
    background-color: #001f00eb;
    /* test */

    width: 100px;
    height: 50px;
}


/* footer content */
footer #footer-inner{
    background-color:#d8d7ff ;
    /* test */

    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

/* footer top division */
footer #footer-inner #footer-top{
    background-color:#2b43bb90 ;
    /* test */

    height: 500px;

    display: flex;
    justify-content: center;
    gap:20px;
}

/* footer bottom division */
footer #footer-inner #footer-bot{
    background-color:#2b43bb90 ;
    /* test */

    height: 80px;

    display: flex;
    justify-content: space-between;

}

/* footer top left divisions */

/* left side */
footer #footer-inner #footer-top #footer-top-left{
    background-color: #ec071aa4;
    /* test */

    width: 200px;

    display: flex;
    flex-direction: column;
    gap:10px;

}

footer #footer-inner #footer-top-left #footer-title{
    background-color: rgba(0, 255, 13, 0.46);
    /* test */

    width: auto;
    height: 100px;
    
}

footer #footer-inner #footer-top-left #footer-lenguage{
    background-color: rgba(0, 255, 13, 0.46);
    /* test */

    width: auto;
    height: 30px;
    
}

footer #footer-inner #footer-top-left #footer-social{
    background-color: rgba(0, 255, 13, 0.46);
    /* test */

    width: auto;
    height: 50px;
    
}

/* right side */
footer #footer-inner #footer-top #footer-top-right{
    background-color: #ec071aa4;

    flex-grow: 1;
}

footer #footer-inner #footer-top #footer-top-right #footer-subtitles{
    background-color: rgba(255, 255, 255, 0.421);
    /* test */

    width: 100%;
    height: 100%;

    list-style-type: none;

    display: flex;
    justify-content: space-between;



}

footer #footer-inner #footer-top-right #footer-subtitles > li{

    background-color: rgba(0, 0, 0, 0.567);
    /* test */

    width: 150px;
    height: 100%;

}

/* subtitle prodotto */
footer #footer-inner #footer-top-right #footer-subtitles #prodotto ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

}

footer #footer-inner #footer-top-right #footer-subtitles #prodotto li{
    background-color: red;
    /* test */

    height: 30px;
    width: 50px;
}

/* subtitle compagnia */

footer #footer-inner #footer-top-right #footer-subtitles #compagnia ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

}

footer #footer-inner #footer-top-right #footer-subtitles #compagnia li{
    background-color: red;
    /* test */

    height: 30px;
    width: 50px;
}

/* subtitle risorse  */

footer #footer-inner #footer-top-right #footer-subtitles #risorse ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

}

footer #footer-inner #footer-top-right #footer-subtitles #risorse li{
    background-color: red;
    /* test */

    height: 30px;
    width: 50px;
}

/* subtitle nome */
footer #footer-inner #footer-top-right #footer-subtitles #nome ul{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

}

footer #footer-inner #footer-top-right #footer-subtitles #nome li{
    background-color: red;
    /* test */

    height: 30px;
    width: 50px;
}

footer #footer-inner #footer-bot #footer-logo{
    background-color: blue;
    /* test */

    width: 150px;

}

footer #footer-inner #footer-bot #footer-button{
    background-color: blue;
    /* test */

    width: 150px;

}